body{
    background-image: url('/images/wall.jpg');
}

.container{
    padding: 20%;
    text-align: center;
    background-color: orange;
    margin-top: 1%;
    border-radius: 20px;
    opacity: 0.9;
}

h1{
    
}