body{
    background-image: url('../images/wall.jpg');
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.container{
    padding: 10%;
    background-color: black;
    margin-top: 6%;
    text-align: center;
    border-radius: 20px;
    color: white;
    opacity: 0.9;
}