body{
    background-image: url('../images/wall.jpg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding-bottom: 2%;
}

.container-fluid{
    background-color: blue;
    opacity: 0.6;
    border-radius: 20px;
}

.card{
    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Monoton', cursive;
    /* font-family: 'Cabin Sketch', cursive; */

    margin: 7%;
}

.container{
    background-color: #afbacc;
    margin-top: 6%;
    /* text-align: center; */
    padding: 5%;
    border-radius: 20px;
}

h3, h2{
    text-align: center;
}

.image-fixed{
    border-radius: 20px;
    /* position: fixed; */
}

.container1{
    background-image: url('../images/meee.JPG');
    padding: 30%;
    padding-left: 5%;
    padding-right: 5%;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: 300px 100px; */
    background-repeat: no-repeat;
    margin-top: -12.5%;
    text-align: center;
    border-radius: 20px;
}