body{
    background-image: url('/images/wall.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.container-fluid{
    background-color: blue;
    padding: 5%;
    opacity: 0.6;
    border-radius: 20px;
    margin-top: 1%;
}

.card{
    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin: 7%;
}

.container{
    background-color: #afbacc;
    margin-top: 2%;
    /* text-align: center; */
    padding: 5%;
    border-radius: 20px;
}

h3, h2{
    text-align: center;
}