<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css" media="all">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About | Ramza</title>
</head>
<body>
    <div class="container">
        <h1>Welcome To The World Of Ramza</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, placeat. Nihil non laudantium accusamus distinctio saepe esse deleniti dolorem. Minus optio ab omnis, et beatae iusto natus dolore est soluta.
        </p>
    </div>
</div>
</body>
</html>