<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css" media="all">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/images/Logo.png" />
    <title>About | Ramza</title>
</head>
<body>

<!--Navbar start-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" style="border-radius: 10px; margin-top: 0.5%;">
  <!-- Brand -->
  <a class="navbar-brand" href="/templates/index.html">Young Developer</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" href="/templates/index.html">Home</a>
          </li>
        <a class="nav-link" href="#">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/projects.html">Projects</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Contact Me</a>
        <div class="dropdown-menu" style="background-color: gray">
          <a class="dropdown-item" href="https://twitter.com/rvm7a">Twiter</a>
          <a class="dropdown-item" href="#">Instagram</a>
          <a class="dropdown-item" href="https://www.facebook.com/messages/new/" target="_blank">Facebook</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--End of navbar-->
    <div class="container">
        <h1>Welcome To The World Of Ramza</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, placeat. Nihil non laudantium accusamus distinctio saepe esse deleniti dolorem. Minus optio ab omnis, et beatae iusto natus dolore est soluta.
        </p>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>